---
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';
import Logo from '@assets/logo.svg';
import Links from '@components/Links.astro';

const social = [
	{
		name: "YouTube",
		url: "https://youtube.com/@Minarox",
	},
	{
		name: "Twitch",
		url: "https://twitch.tv/minarox",
	},
	{
		name: "X",
		url: "https://x.com/Minarox_",
		icon: "x-twitter"
	},
	{
		name: "Instagram",
		url: "https://instagram.com/minarox_",
	},
	{
		name: "GitHub",
		url: "https://github.com/Minarox",
	}
]
---

<Layout>
	<main>
		<header>
			<Image src={Logo} alt="Logo Minarox" width="140" height="142" />
			<h1>Minarox</h1>
		</header>

		<article>
			<Links social={social} />
		</article>
	</main>
</Layout>

<style lang="scss">
	main {
		padding: 1rem;
		width: calc(100% - 2rem);
		height: calc(100% - 2rem);
		display: grid;
		grid-template-rows: max-content 1fr;
		align-items: center;
		justify-items: center;
		gap: 3rem;

		header {
			img {
				padding: 0.5rem;
				width: 100%;
				max-width: 140px;
			}

			h1 {
				margin: 0.8rem 0 0;
				font-size: 2em;
				font-weight: 700;
			}
		}
	}
</style>