---
import Layout from "@layouts/Layout.astro"
import Links from "@components/Links.astro"
import Logo from "@assets/svg/logo.svg"
import Banner from "@assets/banner.webp"
import type { Settings, Link } from "@types"

const settings: Settings = {
	lang: ["fr", "fr-FR", "French"],
	title: "Minarox",
	description: "Créateur de contenu depuis trop longtemps.",
	keywords: "Vidéos, Stream, Live, Youtube, Twitch, Best-of, Compilations, Montage, Projets, Site, Web",
	creator: "Mathis Serrieres Maniecki",
	xCreator: "Minarox_",
	themeColor: "#040E29",
	thumbnail: Banner
}

const links: Link[] = [
	{
		name: "YouTube",
		url: "https://youtube.com/@Minarox",
	},
	{
		name: "Twitch",
		url: "https://twitch.tv/minarox",
	},
	{
		name: "X",
		url: "https://x.com/Minarox_",
		icon: "x-twitter"
	},
	{
		name: "Instagram",
		url: "https://instagram.com/minarox_",
	},
	{
		name: "GitHub",
		url: "https://github.com/Minarox",
	},
	{
		name: "Email",
		url: "mailto:contact@minarox.fr",
		icon: "envelope",
		pack: "mdi"
	}
]
---

<Layout settings={settings}>
	<main>
		<header>
			<Logo />
			<h1>{settings.title}</h1>
		</header>

		<article>
			<Links links={links} />
		</article>
	</main>
</Layout>

<style>
	main {
		width: 100vw;
		height: 100vh;
		display: grid;
		grid-template-rows: 0.6fr 1fr;
		align-items: center;
		justify-items: center;

		header {
			padding: 1rem;

			svg {
				width: auto;
				max-width: 140px;
				height: auto;
				max-height: 140px;
				padding: 0.5rem;
				color: white;
				filter: drop-shadow(0 0 42px rgba(0, 0, 0, 0.7));
			}

			h1 {
				margin: 0;
				font-size: 2em;
				font-weight: 700;
			}
		}
	}
</style>
